<nav class="top_nav">
  <div><a href="/vinkuStatic" class="logo">VINKU.IN</a></div>
  <div class="menu_section">
    <a href="/vinkuStatic" class="bottom_icon">
        <div class="icon_text">
            {% include icons/home.svg %}
        </div>
        <span>Home</span>
    </a>
    <a href="/vinkuStatic/news" class="bottom_icon">
        <div class="icon_text">
            {% include icons/news.svg %}
        </div>
        <span>News</span>
    </a>
    <a href="/vinkuStatic/offers" class="bottom_icon">
        <div class="icon_text">
            {% include icons/offers.svg %}
        </div>
        <span>Offers</span>
    </a>
    <a href="/vinkuStatic/chat" class="bottom_icon">
        <div class="icon_text">
            {% include icons/chat.svg %}
        </div>
        <span>Chat</span>
    </a>
    <a href="/vinkuStatic" class="bottom_icon">
        <div class="icon_text">
            {% include icons/menu.svg %}
        </div>
        <span>Menu</span>
    </a>
  </div>

  <div class="top_icons">
      <a href="/vinkuStatic" class="theme_icon bottom_icon">
          <div class="icon_text">
            {% include icons/light.svg %}
          </div>
          <span>Light</span>
      </a>
      <a href="/vinkuStatic/login/" class="login_link bottom_icon">
          <div class="icon_text">
            {% include icons/user.svg %}
          </div>
          <span>Login</span>
      </a>
  </div>
</nav>
